* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 10px;
  min-height: 100vh;
}
.playlist {
  list-style-type: none;
  padding: 0;
}
.playlist li {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  /* lightsteelblue background when playing */
}
.playlist audio {
  width: 100%;
  margin-top: 10px;
}
.cifra {
  margin-top: 10px;
}
.cifra a {
  text-decoration: none;
  color: #008000;
}
.cifra a:hover {
  text-decoration: underline;
}

.music-lyric {
  display: none;
  margin: 2rem 0.5rem;
}

.music-title {
  font-size: 1.2rem;
}

.search-box {
  margin: 1rem 0;
  position: relative;
}

#searchInput {
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  padding-right: 45px; /* Make space for the clear button */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#clearButton {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px; /* Adjust size as needed */
  color: #000; /* Adjust color as needed */
  padding: 0 8px; /* Adjust padding for better touch area */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;  
}

.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  min-height: 100%;
  box-shadow: none;
  font-size: 14px;
  overflow-y: auto;
  background-color: #f0f0f0;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: red;
  padding: 0 10px;
  margin: 10px 10px 0 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 35px;
  padding: 2px 4px; 
  margin: 5px;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#audio-player {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 4rem;
  font-size: 20px;
  z-index: 3;
  display: none;
}


